body{
    background: rgb(128, 200, 248);
    align-content: center;

}
.container{
    width: 25%;
    margin: auto;
    padding: 20px;
    padding-bottom: 40px;  
    border-radius: 20px;
    background: white;
}
img{
    width: 100%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}


.text{
    font-family: 'Outfit', sans-serif;
}
.text h1{
    text-align: center;
    font-size: 30px;
}
.text p{
    text-align: center;
    font-size: 22px;
}
